aiml==0.8.6
aiofiles==0.3.1
aiohttp==2.1.0
appnope==0.1.0
asn1crypto==0.22.0
async-timeout==1.2.1
attrs==17.2.0
autobahn==17.8.1
Automat==0.6.0
beautifulsoup4==4.6.0
bleach==2.0.0
blinker==1.4
bypy==1.5.7
CacheControl==0.12.3
cachetools==2.0.1
certifi==2017.4.17
cffi==1.10.0
chardet==3.0.4
chromote==0.3.0
click==6.7
constantly==15.1.0
contextlib2==0.5.5
cproto==0.4.1
cryptography==1.9
cssselect==1.0.1
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
dill==0.2.6
diskcache==2.4.1
Django==1.11.2
django-debug-toolbar==1.8
docutils==0.13.1
ecdsa==0.13
entrypoints==0.2.3
esptool==2.2
feedgenerator==1.9
Flask==0.12.2
future==0.16.0
geopy==1.11.0
gevent==1.2.2
google-api-python-client==1.6.4
google-assistant-grpc==0.0.2
google-auth==1.2.0
google-auth-oauthlib==0.1.0
googleapis-common-protos==1.5.3
googletrans==2.2.0
gpiozero==1.4.0
greenlet==0.4.12
grpc-google-cloud-speech-v1beta1==0.14.0
grpcio==1.7.0
gunicorn==19.7.1
gym==0.9.2
h5py==2.7.0
html5lib==0.999999999
httplib2==0.10.3
httptools==0.0.9
hyperlink==17.1.1
idna==2.5
imageio==2.1.2
imdbpie==4.2.0
imutils==0.4.3
incremental==17.5.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.5
libusb1==1.6.4
lockfile==0.12.2
lxml==3.8.0
mahotas==1.4.3
Markdown==2.6.8
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
moviepy==0.2.3.2
msgpack-python==0.4.8
mujoco-py==0.5.7
multidict==2.1.6
multiprocess==0.70.5
nbconvert==5.2.1
nbformat==4.3.0
netease-dl==1.0.2
NetEase-MusicBox==0.2.4.1
networkx==1.11
nltk==3.2.5
nose==1.3.7
notebook==5.0.0
numpy==1.13.1
oauth2client==4.1.2
oauthlib==2.0.6
olefile==0.44
pandas==0.20.2
pandocfilters==1.4.1
parsel==1.2.0
pdftools==1.1.0
pelican==3.7.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
pluggy==0.6.0
prerender==0.7.4
prettytable==0.7.2
prompt-toolkit==1.0.14
protobuf==3.3.0
psycopg2==2.7.1
ptyprocess==0.5.1
py==1.5.2
pyaes==1.6.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAutoGUI==0.9.36
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pycryptodomex==3.4.7
PyDispatcher==2.0.5
pyFirmata==1.0.3
pygame==1.9.3
pyglet==1.2.4
Pygments==2.2.0
pymongo==3.4.0
PyMsgBox==1.0.6
pynmea2==1.9.0
pyobjc==3.2.1
pyobjc-core==3.2.1
pyobjc-framework-Accounts==3.2.1
pyobjc-framework-AddressBook==3.2.1
pyobjc-framework-AppleScriptKit==3.2.1
pyobjc-framework-AppleScriptObjC==3.2.1
pyobjc-framework-ApplicationServices==3.2.1
pyobjc-framework-Automator==3.2.1
pyobjc-framework-AVFoundation==3.2.1
pyobjc-framework-AVKit==3.2.1
pyobjc-framework-CalendarStore==3.2.1
pyobjc-framework-CFNetwork==3.2.1
pyobjc-framework-CloudKit==3.2.1
pyobjc-framework-Cocoa==3.2.1
pyobjc-framework-Collaboration==3.2.1
pyobjc-framework-Contacts==3.2.1
pyobjc-framework-ContactsUI==3.2.1
pyobjc-framework-CoreBluetooth==3.2.1
pyobjc-framework-CoreData==3.2.1
pyobjc-framework-CoreLocation==3.2.1
pyobjc-framework-CoreText==3.2.1
pyobjc-framework-CoreWLAN==3.2.1
pyobjc-framework-CryptoTokenKit==3.2.1
pyobjc-framework-DictionaryServices==3.2.1
pyobjc-framework-DiskArbitration==3.2.1
pyobjc-framework-EventKit==3.2.1
pyobjc-framework-ExceptionHandling==3.2.1
pyobjc-framework-FinderSync==3.2.1
pyobjc-framework-FSEvents==3.2.1
pyobjc-framework-GameCenter==3.2.1
pyobjc-framework-GameController==3.2.1
pyobjc-framework-ImageCaptureCore==3.2.1
pyobjc-framework-IMServicePlugIn==3.2.1
pyobjc-framework-InputMethodKit==3.2.1
pyobjc-framework-InstallerPlugins==3.2.1
pyobjc-framework-InstantMessage==3.2.1
pyobjc-framework-Intents==3.2.1
pyobjc-framework-IOSurface==3.2.1
pyobjc-framework-LatentSemanticMapping==3.2.1
pyobjc-framework-LaunchServices==3.2.1
pyobjc-framework-LocalAuthentication==3.2.1
pyobjc-framework-MapKit==3.2.1
pyobjc-framework-MediaAccessibility==3.2.1
pyobjc-framework-MediaLibrary==3.2.1
pyobjc-framework-MediaPlayer==3.2.1
pyobjc-framework-ModelIO==3.2.1
pyobjc-framework-MultipeerConnectivity==3.2.1
pyobjc-framework-NetFS==3.2.1
pyobjc-framework-NetworkExtension==3.2.1
pyobjc-framework-NotificationCenter==3.2.1
pyobjc-framework-OpenDirectory==3.2.1
pyobjc-framework-Photos==3.2.1
pyobjc-framework-PhotosUI==3.2.1
pyobjc-framework-PreferencePanes==3.2.1
pyobjc-framework-PubSub==3.2.1
pyobjc-framework-QTKit==3.2.1
pyobjc-framework-Quartz==3.2.1
pyobjc-framework-SafariServices==3.2.1
pyobjc-framework-SceneKit==3.2.1
pyobjc-framework-ScreenSaver==3.2.1
pyobjc-framework-ScriptingBridge==3.2.1
pyobjc-framework-SearchKit==3.2.1
pyobjc-framework-ServiceManagement==3.2.1
pyobjc-framework-Social==3.2.1
pyobjc-framework-SpriteKit==3.2.1
pyobjc-framework-StoreKit==3.2.1
pyobjc-framework-SyncServices==3.2.1
pyobjc-framework-SystemConfiguration==3.2.1
pyobjc-framework-WebKit==3.2.1
PyOpenGL==3.1.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyPdf==1.13
PyPDF2==1.26.0
PyScreeze==0.1.13
pyserial==3.3
pysrt==1.1.1
pytesseract==0.1.7
pytest==3.3.1
python-dateutil==2.6.1
python-twitter==3.3
python-vlc==2.2.6100
PyTweening==1.0.3
pytz==2017.2
pyuf==1.2
pyusb==1.0.0
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
queuelib==1.4.2
raven==6.1.0
raven-aiohttp==0.5.0
requests==2.17.3
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
rsa==3.4.2
ruamel.yaml==0.15.33
sanic==0.5.4
scikit-image==0.13.0
scikit-learn==0.18.2
scipy==0.19.1
Scrapy==1.4.0
seaborn==0.8.1
service-identity==17.0.0
shadowsocks==3.0.0
simplegeneric==0.8.1
simpy==3.0.10
six==1.11.0
sklearn==0.0
sqlparse==0.2.3
sweeppy==1.2.3
tensorflow==2.5.3
terminado==0.6
tesserocr==2.2.2
testpath==0.3.1
Theano==0.9.0
tornado==4.5.1
tqdm==4.11.2
traitlets==4.3.2
tweepy==3.5.0
Twisted==17.5.0
txaio==2.8.1
ujson==1.35
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.21.1
uvloop==0.8.0
vpnotebook==0.1.3
w3lib==1.17.0
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.40.0
websockets==3.3
Werkzeug==0.12.2
whitenoise==3.3.0
widgetsnbextension==2.0.0
wikipedia==1.4.0
xmltodict==0.11.0
yarl==0.10.3
you-get==0.4.939
youku==0.0.10
youtube-dl==2017.12.10
zope.interface==4.4.1
